html .pageGraph {
    display: block;
    margin: auto;
}

html .assetList {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
}

html .card {
    margin: auto;
}