html .ArticleList {
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

html .ArticleSection {
    width: 100px;
    height: 100px; 
    margin: auto;
}